{% load static %}
{% load staticfiles %}

<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
  <title>{% block title %}PinPoint{% endblock %}</title>
</head>
<body>
  <div class="container-fluid">
  <div class="row" id="logo-header"><img src="{% static 'logo.png' %}" id="logo-img" /></div>
  <div class="navbar-header topnav" style="text-align: center">
    <!-- <a class="navbar-brand" href="#">
          <img id="logo" src="{% static 'logo.png' %}" alt="">
        </a>-->
    <a href="{% url 'home:homepage' %}" class="{% if request.resolver_match.view_name == "home:homepage" %}active{% endif %}">Home</a>
    <a href="#" class="{% if request.resolver_match.app_name == "blog" %}active{% endif %}">Blog</a>
    <a href="{% url 'home:partner' %}" class="{% if request.resolver_match.app_name == "partner" %}active{% endif %}">Partner</a>
    <a href="{% url 'home:contact' %}" class="{% if request.resolver_match.view_name == "home:contact" %}active{% endif %}">Contact</a>
    <a href="{% url 'home:about' %}" class="{% if request.resolver_match.view_name == "home:about" %}active{% endif %}">About</a>
  </div>
      {% block content %}
      {% endblock %}

      <div class="row row-white" id="footer">
          &#9400;2019 PinPoint - All Rights Reserved
      </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
