{% extends "base.html" %}
{% block title %}PinPoint - Contact Us{% endblock %}
{% block content %}
    <div class="row row-blue"><p class="title">Contact Us</p></div>
    <div class="row row-blue">
    <div class="container col-md-6 col-sm-12" style="margin: 0 auto;">
            <p>{{ header_main }}<br/>
    {{ message }}</p>

    <form action="{% url 'home:contact_submit' %}" method="post">
        {% csrf_token %}
  <div class="form-group row">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" name="name">
  </div>

  <div class="form-group row">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email*" name="email" required>
  </div>
  <div class="form-group row">
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message*" rows="3" name="message" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>

    </div>
{% endblock %}

