
    <div class="row-h-30">
    <div class="slider">
        <div class="slide" id="slide-1">
        <div class="slide-face slide-face-front">
            Hospitals
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Get patient on time for appointment</li>
                <li>Integrating with existing facility systems</li>
            </ul></p>
        </div>
        </div>
        <div class="slide" id="slide-2">
        <div class="slide-face slide-face-front">
            Airports
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Increase passenger satisfaction</li>
                <li>Increase vendor awareness</li>
                <li>Reduce missed flights</li>
            </ul></p>
        </div>
        </div>
        <div class="slide" id="slide-3">
        <div class="slide-face slide-face-front">
            Universities
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Student security by controlling routes</li>
                <li>Event reminders</li>
                <li>Faculties Locator</li>
            </ul></p>
        </div>
        </div>
        <div class="slide" id="slide-4">
        <div class="slide-face slide-face-front">
            Government
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Security monitoring</li>
                <li>Block or restrict area</li>
                <li>Monitor flow of environment</li>
            </ul></p>
        </div>
        </div>
        <div class="slide" id="slide-5">
        <div class="slide-face slide-face-front">
            Malls
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Marketing list for businesses</li>
                <li>Advertising and promotion push notation</li>
                <li>Visitors drop off and pickup areas</li>
            </ul></p>
        </div>
        </div>
        <div class="slide" id="slide-6">
        <div class="slide-face slide-face-front">
            Hotels
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Guest satisfaction</li>
                <li>Drop off and pick up locations</li>
                <li>Customer flow</li>
                <li>Increase corporate events</li>
                <li>Promotes businesses and restaurants</li>
            </ul></p>
        </div>
        </div>
        <div class="slide" id="slide-7">
        <div class="slide-face slide-face-front">
            Retail
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Increase customer satisfaction</li>
                <li>Reduce line size and increase services</li>
                <li>Increase adverting and promotions</li>
            </ul></p>
        </div>
        </div>
        <div class="slide" id="slide-8">
        <div class="slide-face slide-face-front">
            Museums
        </div>
        <div class="slide-face slide-face-back"><p>
            <ul>
                <li>Handicap Accessible (section 508)</li>
                <li>Story telling</li>
                <li>Control flow and block exhibits</li>
                <li>Track customers and understand flow patterns</li>
            </ul></p>
        </div>
        </div>
    </div>
    </div>